@font-face{
    font-family: Aktiv Grotesk;
    src: url('./fonts/AktivGroteskBold.ttf') format('truetype');
    font-weight:  bold;
  }
  
  @font-face{
    font-family: Aktiv Grotesk;
    src: url('./fonts/AktivGrotesk.ttf') format('truetype') ;
    font-weight: normal;
  }
  
  @font-face{
    font-family: Aktiv Grotesk;
    src: url('./fonts/AktivGroteskLight.ttf') format('truetype') ;
    font-weight: 100;
  }
  
  @font-face{
      font-family: Aktiv Grotesk;
      src: url('./fonts/AktivGroteskMediumItalic.ttf') format('truetype') ;
      font-weight: normal;
      font-style: italic;
  }
  
  @font-face{
      font-family: Aktiv Grotesk;
      src: url('./fonts/AktivGroteskMedium.ttf') format('truetype') ;
      font-weight: 500;
  }
  
  @font-face{
      font-family: Aktiv Grotesk;
      src: url('./fonts/AktivGroteskLightItalic.ttf') format('truetype') ;
      font-weight: 100;
      font-style: italic;
  }

  @font-face{
    font-family: Harmonia;
    src: url('./fonts/HarmoniaBold.ttf') format('truetype') ;
    font-weight: 700;
  }

  @font-face{
    font-family: Harmonia;
    src: url('./fonts/HarmoniaSansStd-SemiBd.otf') format('opentype') ;
    font-weight: 600;
  }



li{
    list-style: none;
}

li:hover{
    cursor: pointer;
}

html,body,{
    height: 100%;
    width: 100%;
    font-family: Aktiv Grotesk;
}





h1,h2,h3,h4,h5,h6{
    font-family: Harmonia !important;
    font-weight: 700 !important;
    letter-spacing: 0.5px;
}

h1{
    font-family: Harmonia !important;
    font-weight: 700 !important;
    letter-spacing: 0.5px;
}

html{
    min-width: 301px;
}



#mapfit{
    width: 100%;
    height: 100%;
    
}

#top-bar{
    padding: 0 2.75%;
    box-shadow: 2px 0  8px 0 rgba(0, 0, 0, 0.12);
    height: auto;
    z-index: 700;
}

#top-bar-text{
    font-size: 17px;
    color: #444d5b;
    display: inline-block;
}
#logo-bar{
    padding: 1.7% 0;
    height: auto;
}
#logoInfo{
    width: 175px;
}
/* .logo.leaflet-control.logoMobileNoDirections > #watermarkImg{
    width: 30px;
    height: 30px;
}
*/

#infoHeader{
  /* font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: 0.2px;
  text-align: left;
  color: #3a3e43;
  margin-bottom: 0 !important; */

}

#side-box , #side-box-mobile{
    padding: 0;
    z-index: 600;
}

#infoDescription{
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    letter-spacing: normal;
    text-align: left;
    color: #535658;
    margin-top: 5px !important;
    margin-bottom: 10px !important;
}




#coffee-icon-img{
    margin-right: 2%;
    margin-bottom:  0.55rem;
}

ul {
    overflow: auto;
    padding: 0;
}

ul > li {
    padding: 5% 8%;

}

ul > li > h1{
    font-size: 17px;
    color: #444d5b;
}

ul> li > p{
    color: #808a98;
    font-size: 14px;
    font-family: Harmonia;
    font-weight: 600;
}


#side-box, #side-box-mobile{
    box-shadow: 2px 0 8px 0 rgba(0, 0, 0, 0.12);
    overflow: auto;
}

/* #goBtn{
   padding-top: 10%;
}

#goBtn a{
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: 0.2px;
  text-align: center;
  color: #ffffff;
} */

/* #mapfit-show-directions-new-window{
  width: 140px;
  height: 30px;
  object-fit: contain;
  border-radius: 3px;
  background-color: #4353ff;
  font-size: 12px;
} */

/* #popUpContent{
    padding: 2% 7%;
} */



/* .leaflet-control-zoom-in{
    width: 32px !important;
}

.leaflet-control-zoom-out{
    width: 32px !important;
} */

/* .leaflet-popup.leaflet-zoom-animated{
    margin: 5px !important;
} */


#git-link{
    position: absolute;
    z-index: 600;
    right: 16px;
    top: 16px;
}

#git-link:hover{
    cursor: pointer;
}

#git-link-info{
    display: none;
    position: absolute;
    z-index: 600;
    right: 55px;
    top: 8rem;
    color: #95979a
}


#recenterIcon{
    box-shadow: 0 3px 10px 0 rgba(19, 40, 54, 0.15) !important;
}

.leaflet-control-zoom.leaflet-bar.leaflet-control{
    box-shadow: 0 3px 10px 0 rgba(19, 40, 54, 0.15) !important;
    
}

.mapfit-popUpContent{
    padding: 14px 16px;
}

.mapfit-popUpContent > h1{
  font-size: 13px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: 0.2px;
  text-align: left;
  color: #3a3e43;
  margin-bottom: 0 !important;
}
.mapfit-popUpContent > p{
    margin-top: 8px;
    margin-bottom: 2px;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    letter-spacing: normal;
    text-align: left;
    color: #535658;
    margin-top: 5px !important;
    margin-bottom: 10px !important;
}

.mapfit-popUpContent .mapfit-popup-header{
    margin-bottom: 0px;
    color: #3a3e43;
}

.mapfit-goBtn{
    padding-top: 18px;
}

.mapfit-goBtn > a{
    font-size: 12px;
}

.mapfit-goBtn > a:hover{
    text-decoration: none;
    color: white;
}


#mapfit-show-directions-new-window{
    font-size: 12px;
    font-family: Harmonia;
    font-weight: 700;
    padding: 9px 18px 9px 18px;
}

#goBtn{
    padding-top: 18px;
}

#mapfit-show-directions-new-window:hover{
    text-decoration: none;
    color: white;
}

@media (max-width: 992px){
    #mapfit{
        height: 70%;
    }

    #side-box-mobile{
        height: 30%;
    }
   
    #coffee-icon-img{
        margin-right: 5%;
        margin-bottom: 0.75rem;
        margin-top: 0.40rem;
        width: 28px;
    }

    #top-mapfit-logo{
        margin-top: 0.40rem;
        width: 28px;
    }

    #top-bar{
        font-size: 16px;
    }

    #logo-bar{
        padding: 0.75rem 0.66rem;
    }
    
}
